:root{
    --primarycolor: rgb(40,40,100);
    --secondarycolor: white;
    --tertiarycolor: rgb(255,200,0);
    --quarternarycolor: rgb(100,100,100);
    --maintransition: all 0.4s linear;
}

.thumbnail{
    height: 2em;
    width: auto;
    margin-left: 10px;
}

div.pathwaysport{
    flex: 1 1 400px;
}

div.ruleset-container, div.pathway-container{
    display: flex;
    flex-flow: row wrap;
}

div.ruleset{
    flex: 1 1 auto;
    padding: 10px;
}

div.ruleset a{
    color: blue;
}

button:hover{
    transition: var(--maintransition);
    cursor: pointer;
    color: var(--primarycolor);
    background-color: var(--secondarycolor);
}

button.quicklinks{
    padding: 10px;
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
    border-radius: 5px;
}

button.quicklinks:hover{
    cursor: pointer;
    background-color: var(--quarternarycolor);
}

.quicklinks{
    background-color: var(--tertiarycolor);
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 3vh;
}