:root{
    --primarycolor: rgb(40,40,100);
    --secondarycolor: white;
    --tertiarycolor: rgb(255,200,0);
    --quarternarycolor: rgb(100,100,100);
    --maintransition: all 0.4s linear;
} 

.news-item p a, .news-item a{
    color: blue;
    padding: 0;
}

.iframe {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; overflow: hidden;
    max-width: 100%; height: auto;
}
.iframe iframe, .iframe object, .iframe embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.news-container{
    display: flex;
    flex-flow: row wrap;
}
div.news-item{
    display: inline-flexbox;
}

table, .table{
    width: 100%;
    padding: 10px;
}
.tg  {
    border-collapse:collapse;
    border-color:var(--quarternarycolor);
    border-spacing:0;
}
.tg td{
    background-color:var(--secondarycolor);
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
.tg th{
    background-color:var(--primarycolor);
    color:var(--secondarycolor);
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
.tg .tg-phtq{
    background-color:var(--quarternarycolor);
    color: var(--secondarycolor);
    text-align:left;
    vertical-align:top;

}
.tg .tg-fymr{
    font-weight:bold;
    text-align:left;
    vertical-align:top;
}
.tg .tg-0pky{    
    text-align:left;
    vertical-align:top;
}