* {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif; 
    box-sizing: border-box;
    margin: 0;
    }

:root{
    --primarycolor: rgb(40,40,100);
    --secondarycolor: white;
    --tertiarycolor: rgb(255,200,0);
    --quarternarycolor: rgb(100,100,100);
    --maintransition: all 0.4s linear;
} 

button{
    padding: 5px;
    background-color: var(--tertiarycolor);
    margin-bottom: 5px;
    border-radius: 5px;
    width: 100%;
}

button:hover{
    cursor: pointer;
    color: var(--quarternarycolor);
}

div.news-item button a{
    color: var(--primarycolor);
}

div.news-item a:hover{
    color: grey;
    transition: var(--maintransition);
}

.news-item h1, .news-item h2, .news-item h3, .news-item p{
    margin: -5px;
}

.news-item p a, .news-item a{
    color: blue;
    padding: 0;
}

.iframe {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; overflow: hidden;
    max-width: 100%; height: auto;
}
.iframe iframe, .iframe object, .iframe embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.news-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-width: 300px;
}
div.news-item{
    display: inline-flexbox;
    border-radius: 1vh;
    padding: 10px;
    width: 100%;
    margin: -5px;
}

img.full{
    width: 100%;
    max-height: 100%;
}

img.min{
    width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}

/* Two Column Layout in textbox */
.multiColumn {
    display: flex;
  }
  
  .column {
    flex: 1;
    margin: 10px;
  }

@media screen and (min-width: 800px){
    div.news-item{
        width: 50%;
    }
}
@media screen and (min-width: 1200px){
    div.news-item{
        width: 33%;
    }
}
