
* {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif; 
    box-sizing: border-box;
    margin: 0;
    }
/* Colour Scheme */
:root{
        --primarycolor: rgb(40,40,100);
        --secondarycolor: white;
        --tertiarycolor: rgb(255,200,0);
        --quarternarycolor: rgb(100,100,100);
        --maintransition: all 0.4s linear;
        --navbarheight: 8vh;

    }    
/* Text Styles */

.MPV{
    background-color: var(--tertiarycolor);
}
/* Make it nice */
html{
    scroll-behavior: smooth;
}
p, h1,h2,h3,h4,a, table, iframe{
    padding: 10px;
}
h4{
    line-height: 0px;
}
img{
    max-width: 100vw;
}

  
button {
    display: inline-block;
    padding: 10px 50px;
    margin: 10px;
    background-color: var(--tertiarycolor);
    color: var(--quarternarycolor);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    max-width: 300px;
}

button:hover{
    background-color: var(--quarternarycolor);
    color: var(--tertiarycolor);
    transition: var(--maintransition);
}

/* Anchor (link) styles */
a {
    color: var(--primarycolor);
    text-decoration: underline;
}

/* Anchor (link) styles on hover */
a:hover {
    color: var(--tertiarycolor);
    transition: var(--maintransition);
}
.indent{
    padding-left: 2em;
}

.hubs i{
    float: right;
    color: var(--primarycolor);
}

.columngroup{
    display: flex;
}
.block{
    flex: 100%;
}
.column{
    flex: 50%;
}

div.spacer{
    height: 8vh;
}

.hubcontainer{
    display: flex;
    flex-flow: row wrap;
}

.hubs{
    padding: 5px;
    width: 320px;
}

.hubmap, .hubmap img{
    width: 100%;
    max-width: 440px;
}
#topbutton{
    background-color: var(--primarycolor);
    margin: 0.4vw;
    padding: 1em;
    margin-top: 1em;
    display: inline-block;
    color: var(--secondarycolor)
}
#topbutton:hover{
    background-color: var(--quarternarycolor);
}

header,.footer{
    background-color:var(--primarycolor);
    color: white;
    padding: 0.2em;
    margin: 0;
    width: 100%;
}

header{
    text-align: center;
    position: fixed;
    z-index: 10;
}

.logo img{
    height: var(--navbarheight);
    max-width: 80vw;
}

nav img{
    width: 1em;
}

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}
.nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-toggle-label span,.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--secondarycolor);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}
.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--primarycolor);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: var(--secondarycolor);
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
nav a:hover {
    color:var(--quarternarycolor);
}
nav a:hover i{
    color:var(--secondarycolor);
}
.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}
.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}




.body h1{
    text-align: left;
    margin-top: 0.5vh;
}

div.sportimgs h1{
    text-align: center;
}
.hub p, .hub a{
    line-height: 0;
}
.sportimgs img {
    width: calc(45% - 2.4em);
}


.sportimgs div {
    font-size: 2vw;
    margin: 1%;
    width: 45%;
    display: inline-block;
    text-align: center;
    border: solid;
    border-radius: 2em;
    color: var(--primarycolor);
    background: var(--tertiarycolor);
}

@media screen and (min-width: 450px){
    .sportimgs div {
        font-size: 1vw;
        margin: 1%;
        width: calc(24% - 2.4em);
        display: inline-block;
        text-align: center;
        border: solid;
        border-radius: 2em;
        color: var(--primarycolor);
        background: var(--tertiarycolor);
    }
}

.sportimgs div:hover{
    background-color: var(--secondarycolor);
    transition: var(--maintransition);
}

.sportimgs{
    background-color: var(--primarycolor);
}
.sportimgs div a {
    color: var(--primarycolor);
}

.sportimgs div a:hover {
    color: var(--quarternarycolor);
    transition: var(--maintransition);
}

img.full{
    width: 100%;
}

img.inline{
    border-radius: 1em;
    width: 95%;
}

.headerimage img{
    display: inline;
    width: 100%;
}

img.headimg{
    display: inline-block;
    width: 100%;
    max-height: 50vh;

}
#swimming, #fencing, #equestrian, #laserrun{
    scroll-margin-top: 3vh;
}

/* Flexbox layout for the section and its contents */
.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  .block{
    display: inline;
  }
  
  /* Small area for homeText */
  .homeText {
    padding: 10px;
    box-sizing: border-box; 
  }  
  /* Longer vertical space for homeContent */
  .homeContent {
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* Style for the image */
  .homeContent img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  /* div flex basis */
  .div1 {
    flex-basis: 30%;
  }

  .div2 {
    flex-basis: 50%;
  }
  
  .div5 {
    flex-basis: 20%;
  }

  .div3, .div4 {
    flex-basis: 50%;
  }
  /* Quicklinks */
  div.quicklinks button {
    width: 90%;
  }
  .quicklinks a {
    color: var(--quarternarycolor);
  } 
  .quicklinks button a:hover {
    color: var(--tertiarycolor);
  } 
  /* Smaller than Laptop */
  @media screen and (max-width: 1300px){
  
    .div1{
        order: 3;
        flex-basis: 70%;
    }
    .div2{
        flex-basis: 50%;
    }
    .div3{
        order: 2;
    }
    .div4 {
        order: 2;
        flex-basis: 50%;
    }
    .div5{
        order: 1;
        flex-basis: 30%;
    }
    .extra{
        display: none;
    }
    }
/* Smaller than Tablet */
@media screen and (max-width: 850px){
    .div2 {
        display: inline-block;
        order: 4;
    }
    .div4{
        display: inline-block;
        order: 2;
    }
    .div1, .div2, .div3, .div4, .div5 {
        flex-basis: 100%;
    }
    .quicklinks{
        display: inline;
    }
    }
/* Two Column Layout in textbox */
.multiColumn {
    display: flex;
  }
  
  .column {
    flex: 1;
    margin: 10px;
  }


/* Footer Styling */
.footer a{
    background: var(--tertiarycolor);
    margin: 1vw;
    padding: 10px;
    color:var(--primarycolor);
    font-size: 1em;
    align-content: center;
    border-radius: 4px;
}

.footer a:hover{
    background:var(--quarternarycolor);
    margin: 1vw;
    padding: 10px;
    color: var(--tertiarycolor);
    font-size: 1em;
    align-content: center;
    transition: var(--maintransition);
    border-radius: 8px;
}

